header {
    margin: 0px;
    padding: 1%;
    border: 1px solid black;
    text-align: center;
    font-size: 2vw;
    font-family: Marck;
}
body {
    margin: 1% 5%;
    padding: 0px;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
h2, h3 {
    font-size: 1.8vw;
    font-family: indie-flower;
    position: relative;
    left: 5%;

}
h3 {
    font-size: 1.3vw;
}
p {
    margin: 0px;
    padding: 0.5%;
    font-size: 1.6vw;
    font-family: indie-flower;
}
.boton {
    position: absolute;
    right: 3vw;
    top: 6vw;
    background-color: #ffdc82;
    border: none;
    color: #866615;
    padding: 2vw 3vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4vw;
    margin: 0vw 0vw;
    cursor: pointer;
    font-family: courguette;
}

@font-face {  

    font-family: courguette;
    
    src: url(fuentes/Courgette-Regular.ttf);
    
}
@font-face {  

    font-family: indie-flower;
    
    src: url(fuentes/IndieFlower-Regular.ttf);
    
}
@font-face {  

    font-family: Marck;
    
    src: url(fuentes/MarckScript-Regular.ttf);
    
}